body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
display: flex;
height: 100%;
margin: 0;
padding: 0;
width: 100%;
}

/* Center the content in the browser window */
.container {
margin: auto;
text-align: center;
}

.title {
font-size: 3rem;
}

.btntable {
    border-collapse: collapse;
    border-spacing: 10px;
}
.btnspacer {
    background-color: #ffeeff;
    width: 10px;
}
.btncell {
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    background-color: #00cc00;
    padding: 10px;
    width: 200px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15pt;
}
.footer {
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
    height: 110px; 
    margin: auto;
}