<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="images/greener-152.png">
  {% if site.google_analytics %}
  <script async
    src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <title>TutorNow!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="white" />
  <meta name="theme-color" content="white" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TutorNow!">
  <meta name="msapplication-TileImage" content="images/greener-144.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="description" content="Match students with tutors">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet"
    href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
  <script lang="javascript">
    if (typeof firebase === 'undefined') throw new Error('Firebase SDK not detected.');
    firebase.initializeApp({
      projectId: "greener-318516",
      apiKey: "AIzaSyDYk7v4Jx2pip5X38eoI257J9-laAhZiec",
      authDomain: "greener-318516.firebaseapp.com",
      storageBucket: "greener-318516.appspot.com",
      messagingSenderId: "379029472637",
      appId: "1:379029472637:web:2f038fc127da1389a6b814",
      measurementId: "G-HDKZK72T17"
    });

    const studentMainUrl = "/smain";
    const tutorPrefUrl = "/tpref";
    const cookieRole = "role";

    const cookieName = "nickname";
    let nickname = Cookies.get()[cookieName];
    function removeCookieName() {
      Cookies.remove(cookieName);
    }
    firebase.auth().onAuthStateChanged((u) => {
      if (u) {
        console.log("Signed in: " + u.uid);
        document.getElementById("headername").innerHTML = firebase.auth().currentUser.displayName;
        afterAuth();
      } else {
        document.getElementById("headername").innerHTML = "";
        {% if '/' != page.url %}
        window.location.href = "/"; // If not signed in, redirect to sign in page.
        {% endif %}
      }
    });

    function signout() {
      Cookies.remove(cookieRole);
      firebase.auth().signOut();
    }
    function navHome() {
      let url = "/reg";
      let role = Cookies.get()[cookieRole];
      if (role === "s") {
        url = "/smain";
      } else {
        url = "/tmain";
      }
      window.location.href = url;
    }
    function isEmpty(s) {
      return s === null || s === undefined || s === "";
    }
  </script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="fullscreen">
  <main id="content" role="main" class="container">
    <div class="headerrow">
      <div></div>
      <div class="header">TutorNow!</div>
      <div class="headername" id="headername"></div>
    </div>

    <div id="maincanvas" class="maincanvas">
      <div id="cardlist" class="container">
        <div class="cardcontainer cardshow">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="ui-grid-c">
        <div class="ui-block-a">
          <button class="ui-btn ui-btn-icon-top ui-icon-home footericon"
            onclick="navHome();">Home</button>
        </div>
        <div class="ui-block-b">
          <button class="ui-btn ui-btn-icon-top ui-icon-gear footericon"
            onclick="window.location.href='/reg';">Preference</button>
        </div>
        <div class="ui-block-c">
          <button class="ui-btn ui-btn-icon-top ui-icon-info footericon"
            onclick="window.location.href='/history';">History</button>
        </div>
        <div class="ui-block-d">
          <button class="ui-btn ui-btn-icon-top ui-icon-user footericon" onclick="signout();">Sign
            out</button>
        </div>
      </div>
    </div>

  </main>
  <script src="js/main.js"></script>
</body>

</html>