<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="images/greener-152.png">
  {% if site.google_analytics %}
  <script async
    src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <title>Greener App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="white" />
  <meta name="theme-color" content="white" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Hello World">
  <meta name="msapplication-TileImage" content="images/greener-144.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="description" content="Make greener choices around you!">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet"
    href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
  <script lang="javascript">
    if (typeof firebase === 'undefined') throw new Error('Firebase SDK not detected.');
    firebase.initializeApp({
      projectId: "greener-318516",
      apiKey: "AIzaSyDYk7v4Jx2pip5X38eoI257J9-laAhZiec",
      authDomain: "greener-318516.firebaseapp.com",
      storageBucket: "greener-318516.appspot.com",
      messagingSenderId: "379029472637",
      appId: "1:379029472637:web:2f038fc127da1389a6b814",
      measurementId: "G-HDKZK72T17"
    });
  </script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="fullscreen">
  <main id="content" role="main" class="container">
    {{ content }}
  </main>
  <script src="js/main.js"></script>
</body>

</html>